  <section>
    <div class="row">    
      <div class="col-sm-9">
        <div class="taco_single">
            <h2><%= @taco.sale_message %></h2>
            <h1><%= @taco.name %></h1>
            <p>Price: <%= number_to_currency(@taco.price) %></p>
            <p>Tax: $ <%= @taco.tax %></p>
            <hr>
            <p>Total: $ <%= @taco.total %></p>
            <p>Images:</p>
            <% unless @taco.images == [] %>
              <% @taco.images.each do |image| %>
                <%= image_tag image.url, class: "img-responsive" %>
                <%= link_to "Edit Image", "/images/#{image.id}/edit", class: "btn btn-info" %>
                <%= link_to "Delete Image", "/images/#{image.id}", {method: :delete, class: "btn btn-danger" } %>
              <% end %>
            <% else %>
                <%= link_to "Add Image", "/products/#{@taco.id}/images/new", class: "btn btn-success" %>
            <% end %>
            <p>Description: <%= @taco.description %></p>
            <p>Rating: <span class="rating"><%= @taco.rating %></span></p>
            <%= link_to "Edit", "/products/#{@taco.id}/edit", class: "btn btn-success" %>
            <%= link_to "Delete", "/products/#{@taco.id}", {method: :delete, class: "btn btn-danger" } %>
            <hr>
            <%= form_tag "/carted_products", method: :post do%>
              <div class="form-group">
                <%= label_tag :quantity %>
                <%= text_field_tag :quantity %>
              </div>
              <div class="form-group">
                <%= hidden_field_tag :product_id, @taco.id %>
              </div>
              <%= submit_tag "Add to Cart", class: "btn btn-default" %>
            <% end %>
        </div>
      </div>
    </div>
  </section>
